{{extends "layout.html"}}
{{block title()}}문제점 목록{{end}}
{{block localCSS()}}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
<style>
tfoot input {
	width: 100%;
	padding: 3px;
	box-sizing: border-box;
}
tfoot {
    display: table-header-group;
}
</style>
{{end}}

{{block chead()}}
<h1>문제점 목록</h1>
{{end}}

{{block body()}}
<div class="box box-primary">
    <div class="box-body">
        <table id="jqdt1" class="table table-bordered table-striped table-hover" width="100%">
            <thead>
                <tr>
				  	<th>등록 시간</th>
					<th>기사 제목</th>
					<th>카테고리</th>
					<th>문제점 내용</th>
					<th>개발팀 응답</th>
					<th>확인 여부</th>
                </tr>
			</thead>
			<tfoot>
				<tr>
					<th></th>
					<th></th>
					<th><input type="text" placeholder="카테고리 필터" data-column="2"></th>
					<th><input type="text" placeholder="문제점 내용 필터" data-column="3"></th>
					<th><input type="text" placeholder="응답 내용 필터" data-column="4"></th>
					<th><select data-column="5">
                        <option value="">전체</option>
						<option value="Y">확인만</option>
						<option value="N">미확인만</option>
					</select></th>
				</tr>
			</tfoot>
        </table>
    </div>
</div>
{{end}}

{{block localJS()}}
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script>
$(function () {
    var jqdt = $("#jqdt1").DataTable({
        "lengthMenu": [10, 20, 30, 50],
        "order": [[ 0, 'desc' ]],
        language: {
            "infoEmpty": "검색 결과가 없습니다.",
            "emptyTable": "테이블에 표시할 내용이 없습니다.",
            "info": "_TOTAL_ 개의 항목 중 _START_ ~ _END_",
            "infoFiltered": " (전체 _MAX_ 개)",
            "lengthMenu": "페이지 당 _MENU_ 항목 표시",
			"search": "NewsID 검색:",
            paginate: {
                first:    '«',
                previous: '‹',
                next:     '›',
                last:     '»'
            },
            aria: {
                paginate: {
                    first:    'First',
                    previous: 'Previous',
                    next:     'Next',
                    last:     'Last'
                }
            }
        },
		searching: false,
        serverSide: true,
        ajax: {
            url: '/admin/bugs/list.json',
            type: 'POST',
            data: function (d) {
				d._csrf = "{{ ._csrf }}";
            }
        },
        columns: [
            { "data": "createdAt", "searchable":false, "width":"120px" },
            { "data": "title", "sortable":false,
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html('<a href="/admin/news/view?nws='+oData.newsId+'">'+escapeHtml(sData)+'</a> ('+oData.media+')');
                }
            },
			{ "data": "category" },
			{ "data": "message" },
			{ "data": "reply" },
			{ "data": "confirmed",
				"fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).text(sData ? "확인" : "미확인");
                }
			}
        ]
	})
	
	jqdt.columns().every(function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that.search(this.value).draw();
            }
        });

        $('select', this.footer()).on('change', function () {
            if ( that.search() !== this.value ) {
                that.search(this.value).draw();
            }
        });
	});
	
	hideWaitIndi();
});
</script>
{{end}}