{{extends "layout.html"}}
{{block title()}}통합 평가{{end}}
{{block localCSS()}}
<link type="text/css" rel="stylesheet" href="/public/css/tagvis.css"/>
<style>
.news_content {
	line-height: 2em;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 5px;	
}
.news_content i {
	color: #ccc;
}
#title {
    margin: 8px 0;
}
form label {
    text-align: right;
    line-height: 2em;
}

table.allcenter td {
	text-align: center;
}
table.allcenter td b[title]:hover {
	background-color: #ff0;
	text-decoration: underline;
	cursor: pointer;
}
table.allcenter td i {
	font-weight: bold;
	color: #f00;
}
</style>
{{end}}

{{block chead()}}
<h1>통합 평가
{{ if .data.Id == "" }}
	<small>통합 평가할 기사를 입력하십시오.</small>
{{ end }}
{{end}}

{{block body()}}
<div class="box box-primary">
    <form role="form">
        <div class="box-body">
            <div class="row">                
                {{ if .data.Id }}
                <label class="col-sm-2 control-label">언론사 유형:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" value="{{ .data.MediaType }}" readonly>
                </div>

                <label class="col-sm-2 control-label">카테고리:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" value="{{ .data.Category }}" readonly>
                </div>
                {{else}}
                <div class="col-sm-3">
                    <select class="form-control" id="mtype">
                        <option>언론사 유형 선택</option>
                        <option value="신문">신문사</option>
                        <option value="방송">방송사</option>
                    </select>
                </div>
                <div class="col-sm-9">
                    <select class="form-control" id="category">
                        <option>카테고리 선택</option>
						<option>정치</option>
						<option>경제</option>
						<option>사회</option>
						<option>국제</option>
						<option>문화 예술</option>
						<option>IT 과학</option>
						<option>라이프스타일</option>
						<option>스포츠</option>
						<option>교육</option>
						<option>연예</option>
                    </select>
                </div>
                {{end}}
            </div>

            <input type="text" class="form-control" id="title"
            {{ if .data.Id }}value="{{ .data.Title }}" readonly{{else}}placeholder="제목 입력"{{end}}>

			<textarea class="form-control" rows="7" id="content"
			{{ if .data.Id }}readonly{{else}}placeholder="본문 입력"{{end}}>{{.data.Content}}</textarea>
        </div>

        <div class="box-footer">
{{ if .data.Id }}
	{{ if !.data.CompletedAt }}
		<button type="button" class="btn disabled">결과 대기중입니다...</button> &nbsp;
	{{ end }}
		<button type="button" class="btn btn-danger" onclick="onLabDelete('{{ .data.Id.Hex() }}','{{ ._csrf }}')">삭제</button>
		<button type="button" class="btn btn-warning pull-right" onclick="onLabResend('{{ .data.Id.Hex() }}','{{ ._csrf }}')">재요청</button>
{{ else }}
		<button type="button" class="btn btn-warning" onclick="onSubmit()">전송</button>
{{ end }}
        </div>
    </form>
</div>

{{ if .data.CompletedAt }}
<div class="box box-success">
	<div class="box-header with-border">
		<h3 class="box-title">문장 분리 및 군더더기 제거 결과</h3>
	</div>
	<div class="box-body">
		<div class="news_content">{{.data.Result|linebreaksCRBR|raw}}</div>
    </div>
</div>

<div class="box box-success">
	<div class="box-header with-border">
		<h3 class="box-title">형태소 분석 결과</h3>
	</div>
	<div class="box-body">
        
        <div class="nav-tabs-custom">

<ul class="nav nav-tabs">
	<li class="active"><a href="#tab_Mecab" data-toggle="tab" aria-expanded="true">MeCab</a></li>
	<li class=""><a href="#tab_Hannanum" data-toggle="tab" aria-expanded="false">Hannanum</a></li>
	<li class=""><a href="#tab_Kkma" data-toggle="tab" aria-expanded="false">Kkma</a></li>
	<li class=""><a href="#tab_Twitter" data-toggle="tab" aria-expanded="false">Twitter</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="tab_Mecab">
        <svg class="mecab"></svg>
	</div>

	<div class="tab-pane" id="tab_Hannanum">
        <svg class="hannn"></svg>
	</div>

	<div class="tab-pane" id="tab_Kkma">
		<svg class="kkma"></svg>
	</div>

	<div class="tab-pane" id="tab_Twitter">
		<svg class="twitter"></svg>
	</div>
</div>

        </div>
	</div>
</div>{* 형태소 분석 *}


<div class="box box-success">
	<div class="box-header with-border">
		<h3 class="box-title">계량평가요인별 점수</h3>
	</div>
    <div class="box-body">
            <table class="matrix allcenter">
            <tr>
				<th width="25%">필드명</th>
				<td width="50%">데이터</td>
				<td width="25%">점수</td>
            </tr>

            <tr>
				<th>바이라인</th>
				<td>{{ if len(.data.Bylines) > 0 }}
						{{ range bl := .data.Bylines }}
							{{ if bl.Name != "" }}
							name:"{{ bl.Name }}" &nbsp;
							{{ end }}
							{{ if bl.Email != "" }}
							email:"{{ bl.Email }}" &nbsp;
							{{ end }}
						{{ end }}
					{{ end }}
				</td>
				<td>{{ .data.Score.Byline }}</td>
			</tr>
			<tr>
				<th>기사 길이</th>
				<td>{{ .data.ContentLength }}</td>
				<td>{{ .data.Score.ContentLength|toFixed:3 }}</td>
			</tr>
			<tr>
				<th>평균 문장 길이</th>
				<td>{{ .data.ContentAvgSentenceLength|toFixed:3 }}</td>
				<td>{{ .data.Score.AvgSentenceLength|toFixed:3 }}</td>
			</tr>
			<tr>
				<th>문장당 평균 부사수</th>
				<td>{{ .data.ContentAvgAdverbsPerSentence|toFixed:3 }}개</td>
				<td>{{ .data.Score.AvgAdverbCountPerSentence|toFixed:3 }}</td>
			</tr>
			<tr>
				<th>제목 길이</th>
				<td>{{ .data.TitleLength }}</td>
				<td>{{ .data.Score.TitleLength|toFixed:3 }}</td>
			</tr>
			<tr>
				<th>제목에 물음표/느낌표 수</th>
				<td>{{ .data.TitleNumQuestion + .data.TitleNumExclamation }}개</td>
				<td>{{ .data.Score.TitlePuncCount|toFixed:3 }}</td>
			</tr>
			<tr>
				<th>제목의 부사수</th>
				<td>{{ len(.data.TitleAdverbs) }}개</td>
				<td>{{ .data.Score.TitleAdverbCount|toFixed:3 }}</td>
			</tr>
			<tr>
				<th>수치 인용 수</th>
				<td>{{ .data.ContentNumberCount }}개</td>
				<td>{{ .data.Score.NumberCount|toFixed:3 }}</td>
			</tr>
			<tr>
				<th>인용문 수</th>
				<td>{{ len(.data.QuotedSentences) }}개</td>
				<td>{{ .data.Score.QuoteCount|toFixed:3 }}</td>
			</tr>
			<tr>
				<th>인용문 길이 비율</th>
				<td>{{ (.data.ContentQuotePercent * 100)|toFixed:2 }}%</td>
				<td>{{ .data.Score.QuotePercent|toFixed:3 }}</td>
			</tr>
				<th>주관적술어/무주체술어 사용수</th>
				<td>{{ len(.data.ContentAnonPredicates) }}개</td>
				<td>-</td>
			</tr>
			<tr>
				<th>전문용어/한자어 사용수</th>
				<td>{{ len(.data.ContentForeignWords) }}개</td>
				<td>-</td>
			</tr>
			<tr>
				<th>실명 정보원 수</th>
				<td>0</td>
				<td>-</td>
			</tr>
			<tr>
				<th>실명인용 익명인용 비율</th>
				<td>0</td>
				<td>-</td>
			</tr>

			<tr>
				<th>합계 / 평균</th>
				<td></td>
				<td>{{ .data.Score.TotalSum|toFixed:3 }} / {{ .data.Score.Average|toFixed:3 }}</td>
            </tr>
{*            
            <tr>
                <th>인용문 길이</th>
                <td><ul>{{ range qs := .data.QuotedSentences }}
					<li>{{ qs.Sentence }} : (길이: {{ qs.Length }})</li>
				{{ end }}</ul></td>
            </tr>

            <tr>
                <th>제목 기타</th>
				<td>느낌표:{{ .data.TitleNumExclamation }}개,
					물음표:{{ .data.TitleNumQuestion }}개,
					홑따옴표:{{ .data.TitleNumSingleQuote }}개,
					겹따옴표:{{ .data.TitleNumDoubleQuote }}개,
					단독:{{ .data.TitleHasExclusive }}개,
					속보:{{ .data.TitleHasBreaking }}개,
					기획:{{ .data.TitleHasPlan }}개,
                    충격,이럴수가:{{ .data.TitleHasShock }}개,
                    부사: TODO개
				</td>
            </tr>
*}

        </table>
    </div>    
</div>{* 계량 요인 추출 *}


<div class="box box-success">
	<div class="box-header with-border">
		<h3 class="box-title">저널리즘 가치 기준 점수</h3>
	</div>
	<div class="box-body">
		<table class="matrix allcenter">
			<tr>
				<th>가치</th>
				<td>알고리즘 점수</td>
				<td>저널리즘 가치별 점수</td>
			</tr>
			<tr>
				<th>독이성</th>
				<td>기자명(<b>{{ .data.Score.Byline|toFixed:3 }}</b>)
					+ 기사길이(<b>{{ .data.Score.ContentLength|toFixed:3 }}</b>)
					+ 인용문수(<b>{{ .data.Score.QuoteCount|toFixed:3 }}</b>)
					+ 제목길이(<b>{{ .data.Score.TitleLength|toFixed:3 }}</b>)
					+ 제목물음표느낌표(<b>{{ .data.Score.TitlePuncCount|toFixed:3 }}</b>)
					+ 수치인용수(<b>{{ .data.Score.NumberCount|toFixed:3 }}</b>)
					+ 이미지수(<b>{{ .data.Score.ImageCount|toFixed:3 }}</b>)
					+ 평균문장길이(<b>{{ .data.Score.AvgSentenceLength|toFixed:3 }}</b>)
					+ 제목부사수(<b>{{ .data.Score.TitleAdverbCount|toFixed:3 }}</b>)
					+ 문장평균부사수(<b>{{ .data.Score.TitleAdverbCount|toFixed:3 }}</b>)
					= <i>{{ .data.Vanilla.Readability|toFixed:3 }}</i>
				</td>
				<td><b title="기자명">{{ .data.Score.Byline|toFixed:3 }}</b>*0.001
					+ <b title="기사길이">{{ .data.Score.ContentLength|toFixed:3 }}</b>*0.003
					+ <b title="인용문수">{{ .data.Score.QuoteCount|toFixed:3 }}</b>*0.001
					+ <b title="제목길이">{{ .data.Score.TitleLength|toFixed:3 }}</b>*1
					+ <b title="제목물음표느낌표">{{ .data.Score.TitlePuncCount|toFixed:3 }}</b>*1.002
					+ <b title="수치인용수">{{ .data.Score.NumberCount|toFixed:3 }}</b>*1.354
					+ <b title="이미지수">{{ .data.Score.ImageCount|toFixed:3 }}</b>*1.5
					+ <b title="평균문장길이">{{ .data.Score.AvgSentenceLength|toFixed:3 }}</b>*1.5
					+ <b title="제목부사수">{{ .data.Score.TitleAdverbCount|toFixed:3 }}</b>*2.466
					+ <b title="문장평균부사수">{{ .data.Score.TitleAdverbCount|toFixed:3 }}</b>*0.5
					= <i>{{ .data.Journal.Readability|toFixed:3 }}</i>
				</td>
			</tr>
			<tr>
				<th>투명성</th>
				<td>기자명(<b>{{ .data.Score.Byline|toFixed:3 }}</b>)
					+ 기사길이(<b>{{ .data.Score.ContentLength|toFixed:3 }}</b>)
					+ 인용문수(<b>{{ .data.Score.QuoteCount|toFixed:3 }}</b>)
					+ 제목물음표느낌표(<b>{{ .data.Score.TitlePuncCount|toFixed:3 }}</b>)
					+ 수치인용수(<b>{{ .data.Score.NumberCount|toFixed:3 }}</b>)
					+ 이미지수(<b>{{ .data.Score.ImageCount|toFixed:3 }}</b>)
					+ 인용문비중(<b>{{ .data.Score.QuotePercent|toFixed:3 }}</b>)
					= <i>{{ .data.Vanilla.Transparency|toFixed:3 }}</i>
				</td>
				<td><b title="기자명">{{ .data.Score.Byline|toFixed:3 }}</b>*4.498
					+ <b title="기사길이">{{ .data.Score.ContentLength|toFixed:3 }}</b>*3.003
					+ <b title="인용문수">{{ .data.Score.QuoteCount|toFixed:3 }}</b>*4.5
					+ <b title="제목물음표느낌표">{{ .data.Score.TitlePuncCount|toFixed:3 }}</b>*3.619
					+ <b title="수치인용수">{{ .data.Score.NumberCount|toFixed:3 }}</b>*1.454
					+ <b title="이미지수">{{ .data.Score.ImageCount|toFixed:3 }}</b>*1
					+ <b title="인용문비중">{{ .data.Score.QuotePercent|toFixed:3 }}</b>*0.001
					= <i>{{ .data.Journal.Transparency|toFixed:3 }}</i>
				</td>
			</tr>
			<tr>
				<th>사실성</th>
				<td>기자명(<b>{{ .data.Score.Byline|toFixed:3 }}</b>)
					+ 기사길이(<b>{{ .data.Score.ContentLength|toFixed:3 }}</b>)
					+ 인용문수(<b>{{ .data.Score.QuoteCount|toFixed:3 }}</b>)
					+ 제목물음표느낌표(<b>{{ .data.Score.TitlePuncCount|toFixed:3 }}</b>)
					+ 수치인용수(<b>{{ .data.Score.NumberCount|toFixed:3 }}</b>)
					+ 이미지수(<b>{{ .data.Score.ImageCount|toFixed:3 }}</b>)
					+ 제목부사수(<b>{{ .data.Score.TitleAdverbCount|toFixed:3 }}</b>)
					+ 문장평균부사수(<b>{{ .data.Score.TitleAdverbCount|toFixed:3 }}</b>)
					+ 인용문비중(<b>{{ .data.Score.QuotePercent|toFixed:3 }}</b>)
					= <i>{{ .data.Vanilla.Factuality|toFixed:3 }}</i>
				</td>
				<td><b title="기자명">{{ .data.Score.Byline|toFixed:3 }}</b>*4.493
					+ <b title="기사길이">{{ .data.Score.ContentLength|toFixed:3 }}</b>*3.503
					+ <b title="인용문수">{{ .data.Score.QuoteCount|toFixed:3 }}</b>*3.501
					+ <b title="제목물음표느낌표">{{ .data.Score.TitlePuncCount|toFixed:3 }}</b>*0.001
					+ <b title="수치인용수">{{ .data.Score.NumberCount|toFixed:3 }}</b>*0.502
					+ <b title="이미지수">{{ .data.Score.ImageCount|toFixed:3 }}</b>*1.5
					+ <b title="제목부사수">{{ .data.Score.TitleAdverbCount|toFixed:3 }}</b>*0.5
					+ <b title="문장평균부사수">{{ .data.Score.TitleAdverbCount|toFixed:3 }}</b>*1.5
					+ <b title="인용문비중">{{ .data.Score.QuotePercent|toFixed:3 }}</b>*1
					= <i>{{ .data.Journal.Factuality|toFixed:3 }}</i>
				</td>
			</tr>
			<tr>
				<th>유용성</th>
				<td>기자명(<b>{{ .data.Score.Byline|toFixed:3 }}</b>)
					+ 기사길이(<b>{{ .data.Score.ContentLength|toFixed:3 }}</b>)
					+ 인용문수(<b>{{ .data.Score.QuoteCount|toFixed:3 }}</b>)
					+ 수치인용수(<b>{{ .data.Score.NumberCount|toFixed:3 }}</b>)
					+ 이미지수(<b>{{ .data.Score.ImageCount|toFixed:3 }}</b>)
					= <i>{{ .data.Vanilla.Utility|toFixed:3 }}</i>
				</td>
				<td><b title="기자명">{{ .data.Score.Byline|toFixed:3 }}</b>*3.494
					+ <b title="기사길이">{{ .data.Score.ContentLength|toFixed:3 }}</b>*3.498
					+ <b title="인용문수">{{ .data.Score.QuoteCount|toFixed:3 }}</b>*2.001
					+ <b title="수치인용수">{{ .data.Score.NumberCount|toFixed:3 }}</b>*1.956
					+ <b title="이미지수">{{ .data.Score.ImageCount|toFixed:3 }}</b>*1
					= <i>{{ .data.Journal.Utility|toFixed:3 }}</i>
				</td>
			</tr>
			<tr>
				<th>균형성</th>
				<td>기자명(<b>{{ .data.Score.Byline|toFixed:3 }}</b>)
					+ 기사길이(<b>{{ .data.Score.ContentLength|toFixed:3 }}</b>)
					+ 인용문수(<b>{{ .data.Score.QuoteCount|toFixed:3 }}</b>)
					+ 제목물음표느낌표(<b>{{ .data.Score.TitlePuncCount|toFixed:3 }}</b>)
					+ 제목부사수(<b>{{ .data.Score.TitleAdverbCount|toFixed:3 }}</b>)
					+ 문장평균부사수(<b>{{ .data.Score.TitleAdverbCount|toFixed:3 }}</b>)
					+ 인용문비중(<b>{{ .data.Score.QuotePercent|toFixed:3 }}</b>)
					= <i>{{ .data.Vanilla.Fairness|toFixed:3 }}</i>
				</td>
				<td><b title="기자명">{{ .data.Score.Byline|toFixed:3 }}</b>*2.996
					+ <b title="기사길이">{{ .data.Score.ContentLength|toFixed:3 }}</b>*3.002
					+ <b title="인용문수">{{ .data.Score.QuoteCount|toFixed:3 }}</b>*3
					+ <b title="제목물음표느낌표">{{ .data.Score.TitlePuncCount|toFixed:3 }}</b>*1.501
					+ <b title="제목부사수">{{ .data.Score.TitleAdverbCount|toFixed:3 }}</b>*0.501
					+ <b title="문장평균부사수">{{ .data.Score.TitleAdverbCount|toFixed:3 }}</b>*1
					+ <b title="인용문비중">{{ .data.Score.QuotePercent|toFixed:3 }}</b>*1
					= <i>{{ .data.Journal.Fairness|toFixed:3 }}</i>
				</td>
			</tr>
			<tr>
				<th>다양성</th>
				<td>기자명(<b>{{ .data.Score.Byline|toFixed:3 }}</b>)
					+ 기사길이(<b>{{ .data.Score.ContentLength|toFixed:3 }}</b>)
					+ 인용문수(<b>{{ .data.Score.QuoteCount|toFixed:3 }}</b>)
					+ 제목길이(<b>{{ .data.Score.TitleLength|toFixed:3 }}</b>)
					+ 수치인용수(<b>{{ .data.Score.NumberCount|toFixed:3 }}</b>)
					+ 이미지수(<b>{{ .data.Score.ImageCount|toFixed:3 }}</b>)
					+ 평균문장길이(<b>{{ .data.Score.AvgSentenceLength|toFixed:3 }}</b>)
					+ 인용문비중(<b>{{ .data.Score.QuotePercent|toFixed:3 }}</b>)
					= <i>{{ .data.Vanilla.Diversity|toFixed:3 }}</i>
				</td>
				<td><b title="기자명">{{ .data.Score.Byline|toFixed:3 }}</b>*0.998
					+ <b title="기사길이">{{ .data.Score.ContentLength|toFixed:3 }}</b>*4.994
					+ <b title="인용문수">{{ .data.Score.QuoteCount|toFixed:3 }}</b>*2.501
					+ <b title="제목길이">{{ .data.Score.TitleLength|toFixed:3 }}</b>*0.5
					+ <b title="수치인용수">{{ .data.Score.NumberCount|toFixed:3 }}</b>*1.953
					+ <b title="이미지수">{{ .data.Score.ImageCount|toFixed:3 }}</b>*1
					+ <b title="평균문장길이">{{ .data.Score.AvgSentenceLength|toFixed:3 }}</b>*0.5
					+ <b title="인용문비중">{{ .data.Score.QuotePercent|toFixed:3 }}</b>*0.5
					= <i>{{ .data.Journal.Diversity|toFixed:3 }}</i>
				</td>
			</tr>
			<tr>
				<th>독창성</th>
				<td>기자명(<b>{{ .data.Score.Byline|toFixed:3 }}</b>)
					+ 기사길이(<b>{{ .data.Score.ContentLength|toFixed:3 }}</b>)
					+ 인용문수(<b>{{ .data.Score.QuoteCount|toFixed:3 }}</b>)
					+ 제목물음표느낌표(<b>{{ .data.Score.TitlePuncCount|toFixed:3 }}</b>)
					+ 수치인용수(<b>{{ .data.Score.NumberCount|toFixed:3 }}</b>)
					+ 이미지수(<b>{{ .data.Score.ImageCount|toFixed:3 }}</b>)
					= <i>{{ .data.Vanilla.Originality|toFixed:3 }}</i>
				</td>
				<td><b title="기자명">{{ .data.Score.Byline|toFixed:3 }}</b>*4.494
					+ <b title="기사길이">{{ .data.Score.ContentLength|toFixed:3 }}</b>*4.492
					+ <b title="인용문수">{{ .data.Score.QuoteCount|toFixed:3 }}</b>*3.501
					+ <b title="제목물음표느낌표">{{ .data.Score.TitlePuncCount|toFixed:3 }}</b>*3.09
					+ <b title="수치인용수">{{ .data.Score.NumberCount|toFixed:3 }}</b>*1.823
					+ <b title="이미지수">{{ .data.Score.ImageCount|toFixed:3 }}</b>*1.501
					= <i>{{ .data.Journal.Originality|toFixed:3 }}</i>
				</td>
			</tr>
			<tr>
				<th>중요성</th>
				<td>기자명(<b>{{ .data.Score.Byline|toFixed:3 }}</b>)
					+ 기사길이(<b>{{ .data.Score.ContentLength|toFixed:3 }}</b>)
					+ 인용문수(<b>{{ .data.Score.QuoteCount|toFixed:3 }}</b>)
					+ 수치인용수(<b>{{ .data.Score.NumberCount|toFixed:3 }}</b>)
					+ 이미지수(<b>{{ .data.Score.ImageCount|toFixed:3 }}</b>)
					= <i>{{ .data.Vanilla.Importance|toFixed:3 }}</i>
				</td>
				<td><b title="기자명">{{ .data.Score.Byline|toFixed:3 }}</b>*2.495
					+ <b title="기사길이">{{ .data.Score.ContentLength|toFixed:3 }}</b>*3.503
					+ <b title="인용문수">{{ .data.Score.QuoteCount|toFixed:3 }}</b>*3.5
					+ <b title="수치인용수">{{ .data.Score.NumberCount|toFixed:3 }}</b>*1.002
					+ <b title="이미지수">{{ .data.Score.ImageCount|toFixed:3 }}</b>*0.5
					= <i>{{ .data.Journal.Importance|toFixed:3 }}</i>
				</td>
			</tr>
			<tr>
				<th>심층성</th>
				<td>기자명(<b>{{ .data.Score.Byline|toFixed:3 }}</b>)
					+ 기사길이(<b>{{ .data.Score.ContentLength|toFixed:3 }}</b>)
					+ 인용문수(<b>{{ .data.Score.QuoteCount|toFixed:3 }}</b>)
					+ 수치인용수(<b>{{ .data.Score.NumberCount|toFixed:3 }}</b>)
					+ 이미지수(<b>{{ .data.Score.ImageCount|toFixed:3 }}</b>)
					+ 인용문비중(<b>{{ .data.Score.QuotePercent|toFixed:3 }}</b>)
					= <i>{{ .data.Vanilla.Depth|toFixed:3 }}</i>
				</td>
				<td><b title="기자명">{{ .data.Score.Byline|toFixed:3 }}</b>*4.496
					+ <b title="기사길이">{{ .data.Score.ContentLength|toFixed:3 }}</b>*4.995
					+ <b title="인용문수">{{ .data.Score.QuoteCount|toFixed:3 }}</b>*3.501
					+ <b title="수치인용수">{{ .data.Score.NumberCount|toFixed:3 }}</b>*1.336
					+ <b title="이미지수">{{ .data.Score.ImageCount|toFixed:3 }}</b>*1
					+ <b title="인용문비중">{{ .data.Score.QuotePercent|toFixed:3 }}</b>*1
					= <i>{{ .data.Journal.Depth|toFixed:3 }}</i>
				</td>
			</tr>
			<tr>
				<th>선정성</th>
				<td>기자명(<b>{{ .data.Score.Byline|toFixed:3 }}</b>)
					+ 제목길이(<b>{{ .data.Score.TitleLength|toFixed:3 }}</b>)
					+ 제목물음표느낌표(<b>{{ .data.Score.TitlePuncCount|toFixed:3 }}</b>)
					+ 제목부사수(<b>{{ .data.Score.TitleAdverbCount|toFixed:3 }}</b>)
					+ 문장평균부사수(<b>{{ .data.Score.TitleAdverbCount|toFixed:3 }}</b>)
					+ 인용문비중(<b>{{ .data.Score.QuotePercent|toFixed:3 }}</b>)
					= <i>{{ .data.Vanilla.Sensationalism|toFixed:3 }}</i>
				</td>
				<td><b title="기자명">{{ .data.Score.Byline|toFixed:3 }}</b>*4.491
					+ <b title="제목길이">{{ .data.Score.TitleLength|toFixed:3 }}</b>*3.5
					+ <b title="제목물음표느낌표">{{ .data.Score.TitlePuncCount|toFixed:3 }}</b>*3.501
					+ <b title="제목부사수">{{ .data.Score.TitleAdverbCount|toFixed:3 }}</b>*3.5
					+ <b title="문장평균부사수">{{ .data.Score.TitleAdverbCount|toFixed:3 }}</b>*3.5
					+ <b title="인용문비중">{{ .data.Score.QuotePercent|toFixed:3 }}</b>*3.5
					= <i>{{ .data.Journal.Sensationalism|toFixed:3 }}</i>
				</td>
			</tr>
			<tr>
				<th>종합평가점수 계산</th>
				<td><i>{{ .data.VanillaSum|toFixed:3 }}</i></td>
				<td><i>{{ .data.JournalSum|toFixed:3 }}</i></td>
			</tr>		
		</table>
	</div>
</div>	
{{ end }}

<a href="list" class="btn btn-primary">목록으로 돌아가기</a>
{{end}}

{{block localJS()}}
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="/public/js/tagvis.js"></script>
<script src="/public/js/apilab.js"></script>
<script>

{{ if .data.CompletedAt }}

mecabTags=[{{ cnt = 0 }}
{{ range wp := .data.MecabTags }}{{ if cnt == 0 }}[{{end}}["{{wp.Word|safeJs}}","{{wp.Pos}}"]{{ if wp.Pos == "SF" }}],
{{ cnt = 0 }}{{ else }}{{ cnt = cnt + 1 }},{{ end }}{{ end }}{{ if cnt > 0 }}]{{end}}];

hannnTags=[{{ cnt = 0 }}
{{ range wp := .data.HannanumTags }}{{ if cnt == 0 }}[{{end}}["{{wp.Word|safeJs}}","{{wp.Pos}}"]{{ if wp.Pos == "SF" }}],
{{ cnt = 0 }}{{ else }}{{ cnt = cnt + 1 }},{{ end }}{{ end }}{{ if cnt > 0 }}]{{end}}];

kkmaTags=[{{ cnt = 0 }}
{{ range wp := .data.KkmaTags }}{{ if cnt == 0 }}[{{end}}["{{wp.Word|safeJs}}","{{wp.Pos}}"]{{ if wp.Pos == "SF" }}],
{{ cnt = 0 }}{{ else }}{{ cnt = cnt + 1 }},{{ end }}{{ end }}{{ if cnt > 0 }}]{{end}}];

twitTags=[{{ cnt = 0 }}
{{ range wp := .data.TwitterTags }}{{ if cnt == 0 }}[{{end}}["{{wp.Word|safeJs}}","{{wp.Pos}}"]{{ if wp.Pos == "Punctuation" && wp.Word == "." }}],
{{ cnt = 0 }}{{ else }}{{ cnt = cnt + 1 }},{{ end }}{{ end }}{{ if cnt > 0 }}]{{end}}];

{{ end }}
	
function onSubmit()
{
    if ($("#mtype")[0].selectedIndex == 0)
    {
        alert("언론사 유형을 선택해주세요.");
		return;
    }
    var mtype = $("#mtype").val();

    if ($("#category")[0].selectedIndex == 0)
    {
        alert("카테고리를 선택해주세요.");
		return;
    }
    var category = $("#category").val();

    var title = $("#title").val().trim();
    if (!title)
    {
        alert("제목을 입력해주세요.");
        return;
    }

	var content = $("#content").val().trim();
	if (!content)
	{
		alert("본문을 입력해주세요.");
		return;
	}

	postLabNew({"type":"integrate", "title":title, "content":content, "mtype":mtype, "category":category, "_csrf":"{{ ._csrf }}"});
}

$(window).load(function() {
{{ if .data.CompletedAt }}
    VisualizePostag("svg.mecab", mecabTags, 550);
	VisualizePostag("svg.kkma", kkmaTags, 550);
	VisualizePostag("svg.hannn", hannnTags, 550);
    VisualizePostag("svg.twitter", twitTags, 550);
{{ end }}
    hideWaitIndi();
});
</script>
{{end}}