{{extends "layout.html"}}
{{block title()}}계량 요인 추출{{end}}
{{block localCSS()}}
<style>
.news_content {
	line-height: 2em;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 5px;	
}
.news_content i {
	color: #ccc;
}
#title {
    margin-bottom: 8px;
}
</style>
{{end}}

{{block chead()}}
<h1>계량 요인 추출
{{ if .data.Id == "" }}
	<small>계량 요인을 추출할 기사를 입력하십시오.</small>
{{ end }}
{{end}}

{{block body()}}
<div class="box box-primary">
    <form role="form" onsubmit="return false">
        <div class="box-body">
            <input type="text" class="form-control" id="title"
            {{ if .data.Id }}value="{{ .data.Title }}" readonly{{else}}placeholder="제목 입력"{{end}}>
            <textarea class="form-control" rows="5" id="content"
            {{ if .data.Id }}readonly{{else}}placeholder="본문 입력"{{end}}>{{.data.Content}}</textarea>
        </div>

        <div class="box-footer">
{{ if .data.Id }}
	{{ if !.data.CompletedAt }}
		<button type="button" class="btn disabled">결과 대기중입니다...</button> &nbsp;
	{{ end }}
		<button type="button" class="btn btn-danger" onclick="onLabDelete('{{ .data.Id.Hex() }}','{{ ._csrf }}')">삭제</button>
		<button type="button" class="btn btn-warning pull-right" onclick="onLabResend('{{ .data.Id.Hex() }}','{{ ._csrf }}')">재요청</button>
{{ else }}
		<button type="button" class="btn btn-warning" onclick="onSubmit()">전송</button>
{{ end }}
        </div>
    </form>
</div>

{{ if .data.CompletedAt }}

<div class="box box-success">
	<div class="box-header with-border">
		<h3 class="box-title">계량 요인 추출 결과</h3>
	</div>
	<div class="box-body">
		<div class="news_content">{{.data.Result|linebreaksCRBR|raw}}</div>
    </div>
    <div class="box-body">
        <table class="matrix allcenter">
            <tr>
                <th style="width:50%">필드명</th>
				<th>데이터</th>
				<!-- <th>점수</th> -->
            </tr>

            <tr>
				<td>바이라인</td>
				<td>{{ if len(.data.Bylines) > 0 }}
						{{ range bl := .data.Bylines }}
							{{ if bl.Name != "" }}
							name:"{{ bl.Name }}" &nbsp;
							{{ end }}
							{{ if bl.Email != "" }}
							email:"{{ bl.Email }}" &nbsp;
							{{ end }}
						{{ end }}
					{{ end }}
				</td>
				<!-- <td>{{ .data.Score.Byline }}</td> -->
			</tr>
			<tr>
				<td>기사 길이</td>
				<td>{{ .data.ContentLength }}</td>
				<!-- <td>{{ .data.Score.ContentLength|toFixed:3 }}</td> -->
			</tr>
			<tr>
				<td>평균 문장 길이</td>
				<td>{{ .data.ContentAvgSentenceLength|toFixed:3 }}</td>
				<!-- <td>{{ .data.Score.AvgSentenceLength|toFixed:3 }}</td> -->
			</tr>
			<tr>
				<td>문장당 평균 부사수</td>
				<td>{{ .data.ContentAvgAdverbsPerSentence|toFixed:3 }}개</td>
				<!-- <td>{{ .data.Score.AvgAdverbCountPerSentence|toFixed:3 }}</td> -->
			</tr>
			<tr>
				<td>제목 길이</td>
				<td>{{ .data.TitleLength }}</td>
				<!-- <td>{{ .data.Score.TitleLength|toFixed:3 }}</td> -->
			</tr>
			<tr>
				<td>제목에 물음표/느낌표 수</td>
				<td>{{ .data.TitleNumQuestion + .data.TitleNumExclamation }}개</td>
				<!-- <td>{{ .data.Score.TitlePuncCount|toFixed:3 }}</td> -->
			</tr>
			<tr>
				<td>제목의 부사수</td>
				<td>{{ len(.data.TitleAdverbs) }}개</td>
				<!-- <td>{{ .data.Score.TitleAdverbCount|toFixed:3 }}</td> -->
			</tr>
			<tr>
				<td>수치 인용 수</td>
				<td>{{ .data.ContentNumberCount }}개</td>
				<!-- <td>{{ .data.Score.NumberCount|toFixed:3 }}</td> -->
			</tr>
			<tr>
				<td>인용문 수</td>
				<td>{{ len(.data.QuotedSentences) }}개</td>
				<!-- <td>{{ .data.Score.QuoteCount|toFixed:3 }}</td> -->
			</tr>
			<tr>
				<td>인용문 길이 비율</td>
				<td>{{ (.data.ContentQuotePercent * 100)|toFixed:2 }}%</td>
				<!-- <td>{{ .data.Score.QuotePercent|toFixed:3 }}</td> -->
			</tr>
			<tr>
				<td>무주체 술어 사용수</td>
				<td>{{ len(.data.ContentAnonPredicates) }}개</td>
				<!-- <td>{{ .data.Score.AnonPredicateCount|toFixed:3 }}</td> -->
			</tr>
			<tr>
				<td>전문용어/한자어 사용수</td>
				<td>{{ len(.data.ContentForeignWords) }}개</td>
				<!-- <td>{{ .data.Score.ForeignWordCount|toFixed:3 }}</td> -->
			</tr>
			<tr>
				<td>실명 정보원 수</td>
				<td>0</td>
				<!-- <td>{{ .data.Score.InformantRealCount|toFixed:3 }}</td> -->
			</tr>
			<tr>
				<td>실명인용 익명인용 비율</td>
				<td>0</td>
				<!-- <td>{{ .data.Score.QuoteRatioRealAnon|toFixed:3 }}</td> -->
			</tr>

			<!-- <tr>
				<td>합계 / 평균</td>
				<td></td>
				<td>{{ .data.Score.TotalSum|toFixed:3 }} / {{ .data.Score.Average|toFixed:3 }}</td>
            </tr>
{*            
            <tr>
                <td>인용문 길이</td>
                <td><ul>{{ range qs := .data.QuotedSentences }}
					<li>{{ qs.Sentence }} : (길이: {{ qs.Length }})</li>
				{{ end }}</ul></td>
            </tr>

            <tr>
                <td>제목 기타</td>
				<td>느낌표:{{ .data.TitleNumExclamation }}개,
					물음표:{{ .data.TitleNumQuestion }}개,
					홑따옴표:{{ .data.TitleNumSingleQuote }}개,
					겹따옴표:{{ .data.TitleNumDoubleQuote }}개,
					단독:{{ .data.TitleHasExclusive }}개,
					속보:{{ .data.TitleHasBreaking }}개,
					기획:{{ .data.TitleHasPlan }}개,
                    충격,이럴수가:{{ .data.TitleHasShock }}개,
                    부사: TODO개
				</td>
            </tr>
*} -->

        </table>
    </div>    
</div>	
{{ end }}

<a href="list" class="btn btn-primary">목록으로 돌아가기</a>
{{end}}

{{block localJS()}}
<script src="/public/js/apilab.js"></script>
<script>
function onSubmit()
{
    var title = $("#title").val().trim();
    if (!title)
    {
        alert("제목을 입력해주세요.");
        return;
    }

	var content = $("#content").val().trim();
	if (!content)
	{
		alert("본문을 입력해주세요.");
		return;
	}

	postLabNew({"type":"metric", "title":title, "content":content, "_csrf":"{{ ._csrf }}"});
}
$(window).load(function(){ hideWaitIndi(); });
</script>
{{end}}